/* Reset.css */
@font-face {
    font-family: "pretendard_medium";
    src: url("../../public/fonts/PRETENDARD-MEDIUM.TTF");
}
@font-face {
    font-family: "pretendard_regular";
    src: url("../../public/fonts/PRETENDARD-REGULAR.TTF");
}
@font-face {
    font-family: "pretendard_light";
    src: url("../../public/fonts/PRETENDARD-LIGHT.TTF");
}
@font-face {
    font-family: "pretendard_bold";
    src: url("../../public/fonts/PRETENDARD-BOLD.TTF");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 나타날 때 (enter) */
.slide-down-enter-active {
    transition: all 0.3s ease; /* 0.3초 동안 애니메이션 */
}
.slide-down-enter-from {
    opacity: 0; /* 투명한 상태에서 시작 */
    transform: translateY(-20px); /* 약간 위에서 시작 */
}
.slide-down-enter-to {
    opacity: 1; /* 완전하게 나타남 */
    transform: translateY(0); /* 원래 위치 */
}

/* 사라질 때 (leave) */
.slide-down-leave-active {
    transition: all 0.3s ease; /* 0.3초 동안 애니메이션 */
}
.slide-down-leave-from {
    opacity: 1; /* 원래 상태에서 시작 */
    transform: translateY(0); /* 원래 위치 */
}
.slide-down-leave-to {
    opacity: 0; /* 투명하게 사라짐 */
    transform: translateY(-20px); /* 위로 올라가면서 사라짐 */
}

:root {
    --primary-color: #112d4e;
    --secondary-color: #3f72af;
    --background-color: #f9f7f7;
    --text-color: #112d4e;
    --basic-color: #000000;
}

/* 전체 스크롤바 영역 */
::-webkit-scrollbar {
    width: 12px; /* 스크롤바 너비 */
    height: 12px; /* 가로 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* 트랙 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 썸(핸들) */
::-webkit-scrollbar-thumb {
    background: #888; /* 썸 색상 */
    border-radius: 10px; /* 둥근 모서리 */
}

/* 썸에 호버(hover) 시 */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* 호버 시 색상 */
}
